<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>🔑 Manage</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Users</a>
      <a mat-list-item href="#">Products</a>
    </mat-nav-list>
    <mat-toolbar>🛒 Store</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Shop</a>
      <a mat-list-item href="#">My Orders</a>
      <a mat-list-item href="#">Exit</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>UI - Here's the top row</span>
    </mat-toolbar>

    <h2>Main content here</h2>
    <p>This is how you add the navigation layout:</p>
    <a href="https://material.angular.io/guide/schematics#navigation-schematic">
      https://material.angular.io/guide/schematics#navigation-schematic
    </a>

  </mat-sidenav-content>
</mat-sidenav-container>
